*
    box-sizing: border-box
    margin: 0
    padding: 0

.container
    max-width: 1170px
    margin: auto

body
    font-family: 'Montserrat', sans-serif;
    font-size: 14px
    background-color: #F2F2F0


//H2 settings
.title_settings
    text-align: center
    font-size: 30px
    font-weight: 700
    line-height: 36px
    color: #8B868F
    text-transform: uppercase