.products
    &-slider
        margin-left: 20px
    &-wrapper
        display: flex
        justify-content: space-between
    &-ul
        height: 960px
        min-width: 360px
        padding: 20px 0 220px
        margin-bottom: 480px
        border-radius: 10px
        background-color: #fff
    &-accordion
        display: none
        &_active
            display: block
        &__elem
            padding: 10px 0 10px 60px
        &__link
            text-decoration: none
            font-size: 14px
            color:#A7A7A7
            padding: 10px
            &:hover
                color: $orange
    &__item
        list-style-type: none
        padding: 18px 0 18px 33px
    &__link
        font-size: 17px
        text-decoration: none
        color: $dark-gray
        transition: .2s
        &:hover
            color: $orange
            transition: .2s

.recommendation
    &__item
        &_size
            width: 30%
            margin-bottom: 20px