@media screen and (max-width: 1250px)
    .container
        width: 90%
    .search
        &-form
            &__input
                width: 380px
    .recommendation
        &__img
            max-width: 150px

@media screen and (max-width: 1200px)
    .main
        &-grid
            grid-template-rows: 340px 1fr
    .recommendation
        &__item
            width: 49%
            margin-bottom: 20px
        &__img
            // max-width: 130px
    .trust
        &__item
            width: 50%
            text-align: center
            &:nth-child(1), &:nth-child(2)
                margin-bottom: 20px

@media screen and (max-width: 1100px)
    .products
        &-wrapper
            &_second
                min-height: 1250px
        &-ul
            &_hide
                display: none
    .slider
        &-dots
            bottom: -875px
    .prev
        &-block
            bottom: -875px
    .next
        &-block
            bottom: -875px
    .contacts
        &-catalog
            display: none
    .burger
        &-menu
            display: block
    .header
        &-bottom
            &_catalog
                display: none

@media screen and (max-width: 992px)
    .company
        &__wrapper
            flex-direction: column
            align-items: center
        &__description
            margin-left: 0
        &__img
            width: 544px
            margin-bottom: 10px
    .search
        &-form
            display: none
    .header
        &-top
            justify-content: space-between
        &-bottom
            display: none
            &_mobile
                display: block
    .logo
        &-title
            font-size: 28px
    .footer
        &__title
            font-size: 28px
    .burger-menu
        display: block

    .menu
        display: none
        &_mobile
            display: flex
    .main
        &-slider
            grid-column: span 3
        &-delivery
            grid-column: span 3
    .footer
        &__wrapper
            flex-direction: column
            align-items: center
        &__nav
            margin-top: 40px
        &__contact
            margin-top: 40px
            margin-left: 30px

@media screen and (max-width: 768px)
    .slider
        &-dots
            bottom: -975px
    .catalog
        &_prev, &_next
            padding: 15px
            right: -7.5px
            bottom: -12.5px
    .prev
        &-block
            bottom: -975px
    .next
        &-block
            bottom: -975px
        &__title
            font-size: 20px
    .contacts
        display: none
    .header
        &-top
            padding: 20px 0
            justify-content: space-around
        &-bottom
            display: none
            &_mobile
                display: block
    .main
        &-delivery
            &__img
                margin-bottom: 15px
            &__element
                flex-direction: column
                width: 60%
                margin-left: 50%
                transform: translateX(-50%)
                text-align: center
            &__wrapper
                grid-template-rows: repeat (1fr / 4)
                grid-template-columns: 1fr
    .recommendation
        &__btn
            padding: 5px 22px
        &__img
            max-width: 130px
        &__item
            &_hide
                display: none
        &__wrapper
            flex-direction: column
            align-items: center
    .trust
        &__wrapper
            flex-direction: column
            align-items: center
        &__item
            &:nth-child(3), &:nth-child(4)
                margin-bottom: 20px
    .products
        &-wrapper
            &_second
                height: 1400px

@media screen and (max-width: 576px)
    .slider
        height: 300px
    .catalog
        &_prev, &_next
            padding: 5px
            right: 2px
            bottom: -3px
    .company
        &__img
            max-width: 400px
    .recommendation
        &__item
            min-width: 170px
    .trust
        &__img
            width: 180px

@media screen and (max-width: 410px)
    .company
        &__img
            max-width: 300px
        .recommendation
            &__img
                max-width: 130px
    .trust
        &__img
            max-width: 150px
    .logo
        &-title
            font-size: 20px
        &-img
            width: 40px
    .slider
        &-dots
            right: 65px
        .prev
            &-block
                left: 0
        .next
            &-block
                right: 10px
        &__title
            font-size: 16px
    .main
        &-delivery
            &__title
                font-size: 18px
    .recommendation
        &__item
            margin-left: 50%
            transform: translateX(-50%)
            &_s
                display: none
        &__title
            font-size: 18px
        &__span
            font-size: 14px
    .trust
        &__title
            font-size: 18px
    .company
        &__title
            font-size: 18px
    .footer
        &-logo
            &__img
                width: 40px
        &__title
            font-size: 20px
        &__contact
            &-adress
                font-size: 12px
