.trust
    padding: 35px 0 45px
    background-color: #fff
    margin-bottom: 2px
    &__span
        display: block
        font-size: 14px
        font-weight: 500
        line-height: 17px
        text-align: center
        color: $dark-gray
        margin-bottom: 35px
    &__wrapper
        display: flex
        justify-content: space-around
    &__img
        width: 240px
    &__title
        text-align: center
        font-size: 30px
        font-weight: 700
        line-height: 36px
        color: #8B868F
        text-transform: uppercase